DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=
BAILIAN_IMAGE_MODEL=qwen-image-3.0
BAILIAN_VIDEO_MODEL=wan3.0-video
BAILIAN_VIDEO_RESOLUTION=480P
BAILIAN_VIDEO_RATIO=adaptive
BAILIAN_VIDEO_DURATION=5
BAILIAN_MAX_NEW_JOBS=6
BAILIAN_ASR_MODEL=paraformer-v2
